@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
svg {
  display: block;
  width: 100%;
  /* height: 70%; */
}
:root {
  --primary: #68bde1;
  --sec: #ffdaaf;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #10221b;
}

section {
  padding: 5rem 9%;
}

img {
  width: 100%;
  object-fit: contain;
}

.logoo {
  font-size: 3rem;
  color: var(--primary);
  object-fit: contain;
  background: transparent;
  display: flex;
  align-items: center;
}

.logoo i {
  color: #fff;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #10221b;
  /* border: 0.2rem solid red; */

  color: var(--primary);

  /* color: #10221b; */
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.login {
  border: 1px solid #68bde1;
  padding: 0.55rem 1rem;
  color: #fff;
  border-radius: 6px;
  font-size: 1.6rem;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.25);
  margin-left: 2rem;
}
.register {
  padding: 0.55rem 1rem;
  background-color: var(--primary);
  color: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-size: 1.6rem;
  margin-left: 2rem;
}

.btnn {
  margin-top: 1rem;
  display: inline-block;
  /* border: 0.2rem solid #10221b; */
  border: 0.2rem solid #68bde1;

  color: #fff;

  /* color: #10221b; */
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}
.bb {
  display: flex;
  /* width: 100%; */
  justify-content: center;
}
.botton {
  display: inline-block;
  padding: 1rem 2rem;
  text-align: center;
  display: flex;
  margin: 1rem;
  font-size: 19px;
  /* width: 100%; */
  justify-content: center;
}

.btn:hover {
  background: #10221b;
  color: #fff;
}

.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #10221b;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header.active {
  background: #fff;
  /* border: 1px solid red; */
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  color: #10221b;
}
.header.active .navbar .b {
  /* background-color: red; */
  color: #10221b !important;
}
.header.active .login {
  color: #10221b;
}

.header .icons .fas {
  color: #fff;
}

.header.active .icons .fas {
  color: #10221b;
}

.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  color: #10221b;
  font-weight: bolder;
}

.header .logo i {
  color: #fff;
}

.header.active .logo i {
  /* color: #219150; */
  color: #10221b;
}

.header .navbar a {
  margin-left: 2rem;
  font-size: 1.7rem;
  /* color: #10221b; */
  color: #fff !important;
}

.header .icons {
  display: flex;
  align-items: center;
}

.header .navbar a:hover {
  color: var(--sec) !important;
  /* background-color: r !important; */
}

.header .navbar .b:hover {
  color: var(--sec);
}

.header .navbar #nav-close {
  font-size: 5rem;
  cursor: pointer;
  color: #10221b;
  display: none;
}

/* .header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #10221b;
} */
.header .icons .sear {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  /* color: #10221b; */
  color: #fff;
}
.header .icons a:hover,
.header .icons div:hover {
  color: var(--sec);
}

.header #menu-btn {
  display: none;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 10000;
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
}

/* css mansory */
.boxx {
  /* max-width: 800px; */
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: 200px 200px 200px 200px; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px 200px;
  grid-auto-flow: dense;
  grid-gap: 1rem;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.boxx div {
  position: relative;
}

.boxx .imgg {
  position: relative;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.boxx .imgg:hover {
  transform: scale(0.75);
}

/* .boxx div::before {
  content: "";
  background-color: #42181c;

  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  z-index: 2;
} */

.boxx p {
  position: absolute;
  font-size: 1.7rem;
  bottom: 4%;
  left: 4%;
  color: #fff;
  z-index: 3;
}

.item-a {
  grid-row: 1 / 3;
}

.item-b {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

.item-c {
  grid-row: 2 / 4;
}

.item-d {
  grid-column: 3 / 4;
}
/* css mansory */

/* css man */
/* Reset CSS */

img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
.grid-wrapper .wide {
  grid-column: span 2;
}
.grid-wrapper .tall {
  grid-row: span 2;
}

.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}

/* css man */

.search-form.active {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.search-form #close-search {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  cursor: pointer;
  color: #fff;
  font-size: 6rem;
}

.search-form #close-search:hover {
  color: #219150;
}

.search-form form {
  width: 70rem;
  margin: 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-form form input {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  text-transform: none;
  background: none;
  padding-right: 2rem;
}

.search-form form input::-webkit-input-placeholder {
  color: #aaa;
}

.search-form form input:-ms-input-placeholder {
  color: #aaa;
}

.search-form form input::-ms-input-placeholder {
  color: #aaa;
}

.search-form form input::placeholder {
  color: #aaa;
}

.search-form form label {
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}

.search-form form label:hover {
  /* color: #219150; */
  color: #42181c;
}

.home {
  padding: 0;
  position: relative;
}

.home .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  /* justify-content: center; */
  text-align: center;
  font-weight: bold;
  padding: 2rem 9%;
  background: url("/images/manna/boys1.JPG") center center/cover no-repeat;
  position: relative;
  z-index: 11;
}

.home .box::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  min-height: 100vh;
  /* background-color: rgb(46, 44, 44); */
  background-color: #42181c;
  opacity: 0.5;
  width: 100%;
  z-index: -1;
}

.home .box.second {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.home .box .content {
  width: 50rem;
  text-align: left;
}

.home .box .content span {
  font-size: 2rem;
  /* color: #10221b; */
  color: var(--primary);
}

.home .box .content h3 {
  font-size: 4rem;
  line-height: 1.2;
  /* color: #219150; */
  color: #fff;

  padding-top: 0.5rem;
  text-transform: uppercase;
}

.home .box .content p {
  line-height: 2;
  /* color: #10221b; */
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}

.home .box select,
.home .box .searchh {
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  color: #10221b;
  cursor: pointer;
  width: 100px;
}
.home .box select option {
  padding: 1rem 1.5rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #10221b;
}

/* hero trans */

.trans {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: -6%;
  transform: translate(-50%, 10%);
  z-index: 100;
}

.trans .holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  padding: 3rem;
  background-color: rgba(144, 185, 204, 0.55);
  align-items: center;
  position: relative;
  top: -5%;
}

.trans .holder i {
  color: #4183ce;
  font-size: 4rem;
  margin-right: 1rem;
}

.trans .holder h4 {
  font-weight: 900;
  margin-bottom: 0.55rem;
  color: #fff;
  font-size: 1.5rem;
}

.trans .holder .each {
  display: flex;
  gap: 1rem;
  /* align-items: center; */
}

@media (max-width: 800px) {
  .trans {
    display: none;
  }
}

/* hero trans */

.category {
  /* padding-top: 3rem; */
  margin-top: 5rem;
}

.category .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}

.category .box-container .box {
  text-align: center;
  padding: 1rem;
}

.category h1 {
  line-height: 1;
}
.category p,
.shop p {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.category .box-container .box img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.category .box-container .box h3 {
  font-size: 2rem;
  /* color: #219150; */
  color: #42181c;
}

.category .box-container .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.about {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 3rem;
  padding-top: 12rem;
  padding-right: 2rem;
  padding-left: 2rem;
  /* width: 90%; */
}

.about .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.about .image img {
  width: 100%;
  -webkit-box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
  box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.about .image img:hover {
  transform: scale(1.1);
}

.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.about .content h3 {
  font-size: 3rem;
  /* color: #219150; */
  color: var(--primary);
}

.about .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.values {
  margin-top: 4rem;
  padding-bottom: 7rem;
}

.values-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  width: 70%;
  place-items: center;
  margin: 0 auto;
}

.values-wrap .card {
  background-color: #ffff;
  /* color: var(--text-color); */
  padding: 1rem;
  /* border: 2px solid rgba(77, 77, 77, 0.18); */
  min-height: 450px;
  height: 400px;
  /* box-shadow: 2px 10px 10px rgba(197, 190, 190, 0.97); */
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  cursor: pointer;
  width: 300px;
  /* min-width: 100%; */
  text-align: left;
  color: #fff;

  animation: zoom;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.values-wrap .card .hold {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  color: #fff;
  padding-top: 5rem;
}
.values-wrap .card:nth-child(1) {
  /* border-top-left-radius: 40%; */
  background: #ff4f52;
  position: relative;
  color: #fff;
  padding: 1rem 2rem;
  /* border: 2px solid rgba(77, 77, 77, 0.18); */
  min-height: 300px;
  /* box-shadow: 2px 10px 10px rgba(197, 190, 190, 0.97); */
  transition: all 0.3s ease-in-out;
  /* border-radius: 10px; */
  cursor: pointer;
}

.values-wrap .card:nth-child(1) i {
  color: #ff4f52;
  background: #fff;
  margin: 0.75rem 0;
  padding: 1rem;
  width: 80px;
  height: 80px;
  z-index: 2;
  border-radius: 50%;
  /* position: relative; */
  position: absolute;
  top: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50%; */
}
.values-wrap .card:nth-child(1) h4 {
  /* color: #ff6464; */
  color: #10221b;

  margin: 0.75rem 0;
  font-size: 20px;
  text-align: left;
}

.values-wrap .card:nth-child(1) {
  font-size: 18px;
}

.thin {
  font-weight: 300;
}

.values-wrap .card:nth-child(2) {
  font-size: 18px;
}

.values-wrap .card:nth-child(3) {
  font-size: 18px;
}
.values-wrap .card:nth-child(2) {
  background-color: #1a9d86;
  color: var(--text-color);
  padding: 1rem 2rem;
  position: relative;
  /* border: 2px solid rgba(77, 77, 77, 0.18); */
  min-height: 300px;
  /* box-shadow: 2px 10px 10px rgba(197, 190, 190, 0.97); */
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
}

.values-wrap .card:nth-child(2) i {
  color: #1a9d86;
  background: #fff;
  /* box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.1),
    inset 0px 3px 20px rgba(0, 0, 0, 0.1); */
  margin: 0.75rem 0;
  padding: 1rem;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  z-index: 2;
  /* position: relative; */
  position: absolute;
  top: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.values-wrap .card:nth-child(2) h4 {
  /* color: #6854fc; */
  color: #10221b;
  font-size: 20px;

  margin: 0.75rem 0;
}
.values-wrap .card:nth-child(3) {
  text-align: left;
  background-color: #f0bc05;

  /* color: var(--text-color); */
  padding: 1rem 2rem;
  /* border: 2px solid rgba(77, 77, 77, 0.18); */
  min-height: 300px;
  /* box-shadow: 2px 10px 10px rgba(197, 190, 190, 0.97); */
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  /* border: 1px solid #6854fc; */

  /* box-shadow: 0px 10px 40px rgba(104, 84, 252, 0.97); */
}

/* .values-wrap .card:nth-child(3)::before {
 content: '';
 position: absolute;
 background-color: #fff;
 width: 200px;
 height: 200px;
 border-radius: 50%;
 top: -20%;
 left: -20%;
 z-index: 1;

} */

.values-wrap .card:nth-child(3) i {
  color: #f0bc05;
  background: #fff;
  width: 80px;
  height: 80px;
  /* box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.1),
    inset 0px 3px 20px rgba(0, 0, 0, 0.1); */
  margin: 0.75rem 0;
  padding: 1rem;
  border-radius: 50%;
  z-index: 2;
  /* position: relative; */
  position: absolute;
  top: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.values-wrap .card:nth-child(3) h4 {
  color: #10221b;
  font-size: 20px;

  margin: 0.75rem 0;
}

@keyframes zoom {
  0% {
    transform: scale(1);
    /* opacity: 1; */
  }
  50% {
    transform: scale(0.9);
    /* opacity: 0.55; */
    /* transform: scale(1); */
  }
  100% {
    transform: scale(1);
    /* opacity: 1; */
    /* transform: scale(1); */
  }
}

/* values */

/* quotes */
.quotes {
  background: url(/images/manna/croom13.JPG) center center/cover no-repeat;
  height: 800px;
  position: relative;
}

.quotes::before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.quotes-wrap {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding: 3rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.quotes-wrap p {
  width: 100%;
  color: #fff;
  font-size: 1.59rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  flex: 1;
}

.quotes-wrap .qoutes-img {
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.quotes-wrap .qoutes-img img {
  width: 85%;
  height: 100%;
  border-radius: 50%;
}

/* .quotes-wrap .qoutes-img img {
  opacity: 0.45;
} */

.quotes-wrap .quotes-content {
  flex: 1;
}
.quotes-wrap small {
  color: var(--primary);
  font-size: 1.5rem;
}

@media (max-width: 580px) {
  .quotes-wrap {
    flex-direction: column;
  }

  .quotes-wrap .quotes-content {
    text-align: center;
  }
}

.quotes svg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 200;
}
/* quotes */

.shop .slide {
  border: 0.2rem solid #10221b;
}

.shop .slide:hover .image .icons {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.shop .slide .image {
  position: relative;
  overflow: hidden;
  height: 30rem;
  width: 100%;
}

.shop .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.shop .slide .image .icons {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  left: 0;
  text-align: center;
  z-index: 10;
  -webkit-transform: translateY(7rem);
  transform: translateY(7rem);
}

.shop .slide .image .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background: #10221b;
  color: #fff;
  margin: 0 0.2rem;
}

.shop .slide .image .icons a:hover {
  background: #219150;
}

.shop .slide .content {
  padding: 1rem 0;
  text-align: center;
}

.shop .slide .content h3 {
  font-size: 2rem;
  color: #10221b;
}

.shop .slide .content .price {
  padding: 1rem 0;
  padding-top: 0.5rem;
  font-size: 2rem;
  /* color: #219150; */
  color: #42181c;
}

.shop .slide .content .stars i {
  font-size: 1.7rem;
  color: #10221b;
}

.packages {
  background: #eee;
}

.packages .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.packages .box-container .box {
  text-align: center;
  background: #fff;
  border: 0.2rem solid #10221b;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.packages .box-container .box:hover {
  background: #10221b;
}

.packages .box-container .box:hover .content > * {
  color: #fff;
}

.packages .box-container .box:hover .btn {
  border-color: #fff;
}

.packages .box-container .box:hover .btn:hover {
  background: #fff;
  color: #10221b;
}

.packages .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: 0.5rem;
}

.packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.5rem;
}

.packages .box-container .box .content {
  padding: 2rem;
}

.packages .box-container .box .content h3 {
  font-size: 2rem;
  color: #10221b;
}

.packages .box-container .box .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.packages .box-container .box .content .price {
  font-size: 2rem;
  /* color: #219150; */
  color: #42181c;
}

.services {
  background: #eee;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  text-align: center;
  padding: 2rem;
  border: 0.2rem solid #10221b;
  border-radius: 0.5rem;
  background: #fff;
}

.services .box-container .box:hover {
  background: #10221b;
}

.services .box-container .box:hover img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.services .box-container .box:hover p {
  color: #fff;
}

.services .box-container .box:hover .btn {
  border-color: #fff;
  color: #fff;
}

.services .box-container .box:hover .btn:hover {
  background: #fff;
  color: #10221b;
}

.services .box-container .box img {
  height: 10rem;
  margin-bottom: 1rem;
}

.services .box-container .box h3 {
  font-size: 2rem;
  /* color: #219150; */
  color: #42181c;
}

.services .box-container .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.reviews .slide .text {
  padding: 2rem;
  font-size: 1.5rem;
  font-style: italic;
  background: #eee;
  border-radius: 0.5rem;
  color: #10221b;
  line-height: 2;
  position: relative;
  z-index: 0;
  margin-bottom: 3rem;
}

.reviews .slide .text::before {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0.7rem;
  height: 3rem;
  width: 3rem;
  background: #eee;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.reviews .slide .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

.reviews .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.reviews .slide .user h3 {
  font-size: 2rem;
  color: var(--primary);
}

.reviews .slide .user span {
  /* color: #219150; */
  color: #42181c;
  font-size: 1.5rem;
}

.swiper-pagination-bullet-active {
  opacity: 0.65;
  background: var(--primary);
  /* background: rgba(141, 53, 74, 0.34); */
}

.blogs .slide {
  text-align: center;
  padding: 2rem;
}

.blogs .slide img {
  height: 25rem;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.5rem;
}

.blogs .slide .icons {
  background: #10221b;
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
  top: -2rem;
  display: inline-block;
}

.blogs .slide .icons a {
  font-size: 1.4rem;
  color: #fff;
  margin: 0 1rem;
}

.blogs .slide .icons a:hover {
  color: #219150;
}

.blogs .slide .icons a i {
  padding-right: 0.5rem;
  color: #219150;
}

.blogs .slide h3 {
  font-size: 2rem;
  color: #10221b;
}

.blogs .slide p {
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 2;
  color: #10221b;
}

.newsletter {
  background: #eee;
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0;
}

.newsletter svg {
  /* position: absolute;
  top: 0; */
}

.newsletter .content {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  width: 90%;
}

.newsletter .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #10221b;
}

.newsletter .content form {
  margin-top: 2rem;
  background: #fff;
  border-radius: 5rem;
  border: 0.2rem solid #10221b;
  padding: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletter .content form .email {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #10221b;
  padding: 0 1.3rem;
}

.newsletter .content form .btn {
  margin-top: 0;
  border-radius: 5rem;
  background: #10221b;
  color: #fff;
}

.newsletter .content form .btn:hover {
  background: none;
  color: #10221b;
}

.clients .silde {
  text-align: center;
}

.clients .silde img {
  height: 12rem;
}

.footer {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url(../images/footer-bg.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/footer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
  color: #fff;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box a i {
  color: var(--primary);
  padding-right: 0.5rem;
}

.footer .box-container .box a:hover {
  color: var(--primary);
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #fff;
}

.footer .credit span {
  color: var(--primary);
}
.whats {
  position: fixed;
  bottom: 5%;
  z-index: 100000;
  right: 4%;
  border-radius: 50%;
}
.whats i {
  color: var(--primary);
  font-size: 5.5rem;
  animation: pulse 2s infinite;
  animation-delay: 2s;
  border-radius: 50%;
  /* position: absolute; */
  /* right: 0;
  bottom: 40%; */
}

@keyframes pulse {
  0% {
    /* box-shadow: 0 0 0 0 #a2042a; */
    box-shadow: 0 0 0 0 #90b9cc;
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }
  100% {
    /* box-shadow: 0 0 0 0 #a2042a; */
    box-shadow: 0 0 0 0 #779ecc;
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 0rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }
  .home .box {
    padding: 2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: right !important;
  }
  .home .box.second {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: left !important;
  }
  .home .box .content {
    text-align: center;
  }
  .home .box .content span {
    font-size: 3rem;
  }
  .home .box .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    left: -110%;
    background: #fff;
    z-index: 10000;
    width: 35rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header .navbar.active {
    left: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }

  .header .sear {
    display: none;
  }
  .header .navbar a {
    margin: 1rem 0;
    font-size: 3rem;
  }
  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

@media (max-width: 500px) {
  .home .box .content h3 {
    padding-top: 2rem;
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */

@media (max-width: 800px) {
  .grid-wrapper .ta {
    grid-row: span 2;
  }

  .item-a {
    grid-row: 1;
  }

  .item-b {
    grid-column: 1;
    grid-row: 1;
  }

  .item-c {
    grid-row: 1;
  }

  .item-d {
    grid-column: 1;
  }
}

@media (max-width: 500px) {
  .boxx {
    /* max-width: 800px; */
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-auto-flow: dense;
    grid-gap: 1rem;
  }
  .boxx p {
    bottom: 1%;
  }

  .category p,
  .shop p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
  }
}

@media (max-width: 350px) {
  .logoo {
    font-size: 2rem;
  }

  .login {
    border: 1px solid #c40838;
    padding: 0.55rem 0.65rem;
    color: #fff;
    border-radius: 6px;
    font-size: 1.2rem;
    box-shadow: 0px 15px 26px rgb(0 0 0 / 25%);
    /* margin-left: 1rem; */
  }

  .register {
    padding: 0.55rem 0.65rem;
    background-color: #c40838;
    color: #fff;
    box-shadow: 0px 15px 26px rgb(0 0 0 / 25%);
    border-radius: 6px;
    font-size: 1.2rem;
    margin-left: 2rem;
  }
}

@media (max-width: 500px) {
  .fle {
    flex-direction: column-reverse;
  }

  /* .about .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
  } */

  .about .content:nth-child(2) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0rem;
    flex: 1 1 0rem;
  }
}
